<!-- START @PAGE CONTENT -->
<section id="page-content">

<div ng-include="'views/common/header_content.html'"></div>
    <!-- Start body content -->
    <div class="body-content animated fadeIn">

        <div class="row">
            <div class="col-md-12">

                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <h3 class="panel-title">DASHBOARD</h3>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="well">
                            <ul><li ng-repeat="message in messages">{{message}}</li></ul>
                        </div>
                        <form ng-submit='publish()'>
                            <input type="text" ng-model='newMessage' />
                            <input type="submit" value="Send" />
                        </form>
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->

            </div>
        </div><!-- /.row -->

    </div><!-- /.body-content -->
    <!--/ End body content -->

    <div ng-include="'views/common/footer_content.html'"></div>

</section><!-- /#page-content -->
<!--/ END PAGE CONTENT -->