<!-- START @SIGN WRAPPER -->
<div id="sign-wrapper">

    <!-- Brand -->
    <div class="brand">
        <img src="images/logo/logo-vertical.png" alt="brand logo"/>
    </div>
    <!--/ Brand -->

    <!-- Register form -->
    <form class="form-horizontal rounded shadow no-overflow" name="signUpForm" role="form" ng-submit="createAccount()">
        <div class="sign-header">
            <div class="form-group">
                <div class="sign-text">
                    <span>Create a new account</span>
                </div>
            </div>
        </div>
        <div class="sign-body">
            <div class="form-group">
                <div class="input-group input-group-lg rounded no-overflow">
                    <input name="signUpEmail" ng-model="registrationForm.email" type="email" class="form-control" placeholder="Your Email" required>
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg rounded no-overflow">
                    <input name="signUpPassword" ng-model="registrationForm.password" type="password" class="form-control" placeholder="Password" required>
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                </div>
            </div>
        </div>
        <div class="sign-footer">
            <div class="form-group">
                <div class="callout callout-info no-margin">
                    <p class="text-muted">To confirm and activate your new account, we will need to send the activation instruction to your e-mail.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="ckbox ckbox-theme">
                    <input id="term-of-service" ng-model="termOfService" ng-false-value="0" ng-required="term-of-service == 0" type="checkbox">
                    <label for="term-of-service" class="rounded">I agree with <a href="#">Term Of Service</a></label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded" ng-disabled="signUpForm.$invalid">Sign Up</button>
            </div>
        </div>
    </form>
    <!--/ Register form -->

    <!-- Content text -->
    <p class="text-muted text-center sign-link">Already have an account? <a ui-sref="login"> Sign in here</a></p>
    <!--/ Content text -->

</div><!-- /#sign-wrapper -->
<!--/ END SIGN WRAPPER -->