<!-- START @WRAPPER -->
<section id="wrapper">
  <!-- START @HEADER -->
  <header data-ng-include="'views/common/header.html'" id="header"></header> <!-- /#header -->
  <!--/ END HEADER -->
  <!--

  START @SIDEBAR LEFT
  |=========================================================================================================================|
  |  TABLE OF CONTENTS (Apply to sidebar left class)                                                                        |
  |=========================================================================================================================|
  |  01. sidebar-box               |  Variant style sidebar left with box icon                                              |
  |  02. sidebar-rounded           |  Variant style sidebar left with rounded icon                                          |
  |  03. sidebar-circle            |  Variant style sidebar left with circle icon                                           |
  |=========================================================================================================================|

  -->
  <aside sidebar-left-nicescroll data-sidebar-minimize data-ng-include="'views/common/sidebar_left.html'" id="sidebar-left" class="sidebar-circle"></aside><!-- /#sidebar-left -->
  <!--/ END SIDEBAR LEFT -->

  <div ui-view></div>

  <!-- START @SIDEBAR RIGHT -->
  <aside data-choose-themes data-navbar-color data-sidebar-color data-layout-setting data-ng-include=" 'views/common/sidebar_right.html' " id="sidebar-right"></aside><!-- /#sidebar-right -->
  <!--/ END SIDEBAR RIGHT -->
</section><!-- /#wrapper -->
<!--/ END WRAPPER -->