<!-- Start page header -->
<div class="header-content">
    <h2><i class="fa fa-file-o"></i>Blank Page <span>blank page sample</span></h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="dashboard.html">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Layouts</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Blank Page</li>
        </ol>
    </div>
</div><!-- /.header-content -->
<!--/ End page header -->