<div class="panel panel-tab">
    <div class="panel-heading no-padding">
        <!-- <div class="pull-right">
            <ul class="nav nav-tabs">
                <li>
                    <a href="#sidebar-chat" data-toggle="tab">
                        <i class="fa fa-comments"></i>
                    </a>
                </li>
            </ul>
        </div> -->
        <div class="clearfix"></div>
    </div>
    <div class="panel-body no-padding">
        <div class="tab-content">
            <div class="tab-pane in active" id="sidebar-chat">
                <div class="sidebar-chat">

                    <form class="form-horizontal">
                        <div class="form-group has-feedback">
                            <input class="form-control" type="text" placeholder="Search contact...">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>

                    <!-- Start right navigation - menu -->
                    <ul data-nicescroll class="sidebar-menu niceScroll">

                        <!-- Start category family chat -->
                        <li class="sidebar-category">
                            <span>FAMILY</span>
                            <span class="pull-right"><i class="fa fa-home"></i></span>
                        </li>
                        <!--/ End category family chat -->

                        <li>
                            <!-- Start chat - contact list -->
                            <div class="media-list">
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/10.png" class="img-circle" alt="Daddy Botak">
                                        <i class="online"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Daddy Botak</span>
                                        <span class="media-meta status">online</span>
                                        <span class="media-meta device"><i class="fa fa-globe"></i></span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/11.png" class="img-circle" alt="Sarah Tingting">
                                        <i class="offline"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Sarah Tingting</span>
                                        <span class="media-meta status">offline</span>
                                        <span class="media-meta device"><i class="fa fa-globe"></i></span>
                                        <span class="media-meta time">7 m</span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/26.png" class="img-circle" alt="...">
                                        <i class="busy"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Nicolas Olivier</span>
                                        <span class="media-meta status">busy</span>
                                        <span class="media-meta device"><i class="fa fa-mobile"></i></span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/12.png" class="img-circle" alt="Harry Potret">
                                        <i class="online"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Harry Potret</span>
                                        <span class="media-meta status">online</span>
                                        <span class="media-meta device"><i class="fa fa-mobile"></i></span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/26.png" class="img-circle" alt="...">
                                        <i class="busy"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Catherine Parker</span>
                                        <span class="media-meta status">busy</span>
                                        <span class="media-meta device"><i class="fa fa-mobile"></i></span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                            </div><!-- /.media-list -->
                            <!--/ End chat - contact list -->
                        </li>

                        <!-- Start category friends chat -->
                        <li class="sidebar-category">
                            <span>FRIENDS</span>
                            <span class="pull-right"><i class="fa fa-group"></i></span>
                        </li>
                        <!--/ End category friends chat -->

                        <li>
                            <!-- Start chat - contact list -->
                            <div class="media-list">
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/15.png" class="img-circle" alt="Jeck Joko">
                                        <i class="online"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Jeck Joko</span>
                                        <span class="media-meta status">online</span>
                                        <span class="media-meta device"><i class="fa fa-globe"></i></span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/16.png" class="img-circle" alt="Tenny Imoet">
                                        <i class="busy"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Tenny Imoet</span>
                                        <span class="media-meta status">busy</span>
                                        <span class="media-meta device"><i class="fa fa-mobile"></i></span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/17.png" class="img-circle" alt="Leli Madang">
                                        <i class="offline"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Leli Madang</span>
                                        <span class="media-meta status">offline</span>
                                        <span class="media-meta device"><i class="fa fa-mobile"></i></span>
                                        <span class="media-meta time">2 m</span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/18.png" class="img-circle" alt="Rebecca Cabean">
                                        <i class="offline"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Rebecca Cabean</span>
                                        <span class="media-meta status">offline</span>
                                        <span class="media-meta device"><i class="fa fa-mobile"></i></span>
                                        <span class="media-meta time">8 m</span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/26.png" class="img-circle" alt="...">
                                        <i class="busy"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">ondoel return</span>
                                        <span class="media-meta status">busy</span>
                                        <span class="media-meta device"><i class="fa fa-mobile"></i></span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                            </div><!-- /.media-list -->
                            <!--/ End chat - contact list -->
                        </li>

                        <!-- Start category other chat -->
                        <li class="sidebar-category">
                            <span>OTHERS</span>
                            <span class="pull-right"><i class="fa fa-share"></i></span>
                        </li>
                        <!--/ End category other chat -->

                        <li>
                            <!-- Start chat - contact list -->
                            <div class="media-list">
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/19.png" class="img-circle" alt="Sishy Mawar">
                                        <i class="offline"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Sishy Mawar</span>
                                        <span class="media-meta status">offline</span>
                                        <span class="media-meta device"><i class="fa fa-mobile"></i></span>
                                        <span class="media-meta time">23 m</span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/20.png" class="img-circle" alt="Mbah Roso">
                                        <i class="away"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Mbah Roso</span>
                                        <span class="media-meta status">away</span>
                                        <span class="media-meta device"><i class="fa fa-mobile"></i></span>
                                        <span class="media-meta time">2 h</span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                                <a href="#" class="media">
                                    <div class="media-object pull-left has-notif">
                                        <img src="images/avatar/35/26.png" class="img-circle" alt="...">
                                        <i class="busy"></i>
                                    </div><!-- /.media-object -->
                                    <div class="media-body">
                                        <span class="media-heading">Alma Butoi</span>
                                        <span class="media-meta status">busy</span>
                                        <span class="media-meta device"><i class="fa fa-mobile"></i></span>
                                    </div><!-- /.media-body -->
                                </a><!-- /.media -->
                            </div><!-- /.media-list -->
                            <!--/ End chat - contact list -->
                        </li>

                    </ul><!-- /.sidebar-menu -->
                    <!-- Start right navigation - menu -->

                </div><!-- /.sidebar-chat -->
            </div><!-- /#sidebar-chat -->
        </div>
    </div>
</div>

